# #############################################################################
# .npmrc config.
# #############################################################################
#
# @description Configuration file used for npm (Node Package Manager) to set various npm options.
# @see https://docs.npmjs.com/files/npmrc
#
# #############################################################################

registry=https://registry.npmjs.org/